@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --point-color: #03e9f4;
}

body {
  display: grid;
  place-items: center;

  width: 100vw;
  height: 100vh;

  background: linear-gradient(#141e30, #243b55);
}

.login-form {
  max-width: 400px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.login-form h2 {
  margin: 0 0 30px;
  text-align: center;
  color: white;
}

.login-form .user-box {
  position: relative;
}

.login-form .user-box input {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 0;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}

.login-form .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: white;
  pointer-events: none;
  transition: 0.5s;
}

.login-form .user-box input:focus ~ label,
.login-form .user-box input:valid ~ label {
  top: -20px;
  color: var(--point-color);
  font-size: 12px;
}

.login-form form a {
  position: relative;
  margin-top: 40px;
  padding: 10px 20px;
  
  display: inline-block;
  color: var(--point-color);
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  
  transition: 0.5s;
  letter-spacing: 4px;
}

.login-form a:hover {
  background: var(--point-color);
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--point-color),
              0 0 25px var(--point-color),
              0 0 50px var(--point-color),
              0 0 100px var(--point-color);
              
}

.login-form a span {
  position: absolute;
  display: block;
}

.login-form a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--point-color));
 animation : btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-form a span:nth-child(2) {
  top : -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background : linear-gradient(transparent, var(--point-color));
  animation : btn-anim2 1s linear infinite;
  animation-delay : .25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-form a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height : 2px;
  background : linear-gradient(270deg,  transparent, var(--point-color));
  animation : btn-anim3 1s linear infinite;
  animation-delay : .5s;
}

@keyframes btn-anim3 {
  0% {
    right : -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.login-form a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, var(--point-color));
  animation: btn-anim4 1s linear infinite;
  animation-delay : .75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}