@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --point-color: #03e9f4;
}

body {
  display: grid;
  place-items: center;

  width: 100vw;
  height: 100vh;

  background: linear-gradient(#141e30, #243b55);
}

.login-form {
  max-width: 400px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.login-form h2 {
  margin: 0 0 30px;
  text-align: center;
  color: white;
}

.login-form .user-box {
  position: relative;
}

.login-form .user-box input {
  width: 100%;
  margin-bottom: 30px;
  padding: 10px 0;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}

.login-form .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: white;
  pointer-events: none;
  transition: 0.5s;
}

.login-form .user-box input:focus ~ label,
.login-form .user-box input:valid ~ label {
  top: -20px;
  color: var(--point-color);
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}
